<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJ</title>
    <!-- Ruta CSS corregida -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <!-- Contenedor que engloba logo + menú -->
        <div class="nav-container">
            <!-- Logo -->
            <div class="logo">
                <a><img src="../imágenes/logo.png" width="120px" height="65px"></a>
            </div>

            <!-- Menú -->
            <nav class="navbar">
                <ul class="menu">
                    <li><a href="index.html">INICIO</a></li>
                    <li><a href="Productos_cctv.html">CCTV</a></li>
                    <li><a href="Puntos_ventas.html">PUNTOS DE VENTA</a></li>
                    <li><a href="Contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <header id="Inicio" class="Texto-inicio">
        <h1>La seguridad no es un lujo, es una necesidad. ¡Invierte en tu paz mental!</h1>
        <p>Descubre nuestros Servicios y más</p>
        <a href="https://wa.me/525513614756" class="btn-descubrir">WhatsApp</a>
        <br>
        <a><img src="../imágenes/iconswats.PNG" width="50px" height="50px"></a>
        <h2>¿POR QUÉ NOSOTROS?</h2>
        <p>Ponemos a su disponibilidad sistemas de alerta de alta calidad y confiabilidad diseñados para garantizar la protección de su casa, negocio o institución.</p>
    </header>

    <section id="Principales-servicios" class="titulo-servicios">
        <div class="Hogar">
            <img src="../imágenes/casa.PNG" width="100px" height="100">
            <h3>Hogar</h3>
            <p>Protegemos su hogar y a su familia con sistemas de <br>seguridad de vanguardia, brindándole tranquilidad las <br>24 horas, los 7 días de la semana</p>
        </div>
        <div class="Negocio">
            <img src="../imágenes/negocio.PNG" width="100px" height="100">
            <h3>Negocio</h3>
            <p>Asegure su negocio con nuestros sistemas de seguridad.<br>Protección integral y monitoreo constante para <br>su tranquilidad y la de sus empleados.</p>
        </div>

        <div class="Conectividad">
            <img src="../imágenes/conec.jpg" width="100px" height="100">
            <h3>Conectividad</h3>
            <p>Manténgase conectado y en control de la seguridad de su hogar <br>o negocio desde cualquier lugar, con nuestros sistemas<br> de seguridad inteligentes y conectados.</p>
        </div>
    </section>

    <h2 class="titulo-pro">Nuestros Productos</h2>
 
    <section id="Cajas-de-Productos" class="cajas-prod">
        <p>Tecnología de seguridad innovadora para proteger lo que más importa</p>
        <div class="CCTV">
            <img src="../imágenes/ccvt.jpg" width="300px" height="230px">
            <h3>CCTV</h3>
            <p>Nuestros catálogos incluyen <br>variedad de equipos de seguridad así como <br>paquetes.</p>
            <a href="Productos_cctv.html" class="botones">Conocer más</a>   
        </div>

        <div class="Puntos-ventas">
            <img src="../imágenes/puntos-venta.jpg" width="280px" height="193">
            <h3>PUNTOS DE VENTAS</h3>
            <p>Nuestro amplio surtido de sistemas punto<br> de venta te ofrecemos<br> administrar y tener el control de <br>tu empresa o negocio ofreciéndote <br>el control de tus artículos</p>
            <a href="Puntos_ventas.html" class="botones">Conocer más</a>   
        </div>

        <div class="WIFI">
            <img src="../imágenes/wifi.jpg" width="300px" height="210">
            <h3>WIFI</h3>
            <p>Nuestra empresa provee de servicios<br> de conectividad competitivos, incluyendo <br>instalación y mantenimiento de <br>equipos wifi & networks</p>
            <a href="Productos_cctv.html" class="botones">Conocer más</a>    
        </div>
    </section>

    <p class="espaciado"></p>

    <footer>
        <section id="Formas-contacto" class="contac-section">
            <div>
                <h2>Formas de Contacto</h2>
                <form action="https://formspree.io/f/xandnrqp" method="POST">
                    <label><br>Correo Electrónico:<br>
                        <input type="email" name="email">
                    </label>
                    <label><br>Descripción:<br>
                        <textarea name="message"></textarea>
                    </label><br>
                    <button type="submit">Send</button>
                </form>
            </div>

            <div class="Contactanos">
                <h2>Contacto</h2>
                <div class="img-tel">
                    <img src="../imágenes/telefono.PNG" width="20" height="20" alt="Teléfono">
                    <p>5513614756,</p>
                    <p>5562140935</p>
                </div>

                <div class="Direccion">
                    <div class="img-direc">
                        <img src="../imágenes/ubicacion.PNG" width="20" height="20" alt="Ubicación">
                        <p>BuenaVista, Jilotepec, Estado de Mexico</p>
                    </div>
                </div>
            </div>

            <div class="Acercade">
                <h2>Acerca de Nosotros</h2>
                <p>Somos una empresa dedicada a proteger tu <br>integridad y la 
                de tu familia, nos enfocamos <br>a la colocación de cámaras de
                seguridad, queremos saber de ti,<br> comunícate con nosotros y resolvemos tus dudas 
                </p>
            </div>
        </section>

        <div id="flash-messages" class="flash-messages"></div>
        <div class="Acerca">&copy; 2025 Todos los derechos están reservados</div>
    </footer>
</body>
</html>